body {
  display: flex;
  width: 100vw;
  height: 100vh;
  background-color: rgb(100, 196, 199);
  font-family: 'Courier New', Courier, monospace;
  overflow-x: hidden;
  overflow-x: hidden;
  margin:0 auto;
  font-family: "Chango", sans-serif;
}

.wrapper {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.wrapper .background-img {
  position: fixed;
  width: 100%;
  height: 100%;
}

.wrapper .enterIdeas {
  position: fixed;
  text-align: center;
  display: block;
  width: 40vw;
  height: 30vh;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.wrapper .enterIdeas .First-Header {
  font-size: 2.25vw;
  color: white;
}

.wrapper .enterIdeas .inputBox {
  width: 70%;
  height: 10%;
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
  font-weight: bold;
  font-size: 1vw;
}

.wrapper .enterIdeas .ideaList {
  width: 100%;
  height: auto;
  font-size: 1.5vw;
  font-family: 'Courier New', Courier, monospace;
  color: white;
  list-style: none;
  text-align: center;
  font-weight: bold;
  padding: 0;
}

.FinalDescBtn {
  position: fixed;
  width: 10vw;
  height: auto;
  display: block;
  background-color: inherit;
  color: white;
  border: none;
  font-family: "Chango", sans-serif;
  font-size: 1.25vw;
  top: 45%;
  left: 75%;
  transform: translate(-50%, -50%);
  font-weight: bold;
}

.FinalDescBtn:hover {
  background-color: rgb(70, 173, 176);
}

.wrapper .finalDescision {
  position: fixed;
  text-align: center;
  display: none;
  width: 40vw;
  height: 30vh;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.wrapper .finalDescision .fIdeaHeader {
  text-align: center;
  font-size: 2vw;
  font-family: "Chango", sans-serif;
  color: white;
}

.wrapper .finalDescision .finalResult {
  font-size: 3vw;
  font-family: "Chango", sans-serif;
  color: white;
}

.wrapper .finalDescision .goBack {
  position: fixed;
  width: 15%;
  height: auto;
  font-size: 1.5vw;
  font-family: "Chango", sans-serif;
  color: white;
  border: none;
  background-color: inherit;
  top: 50%;
  left: 105%;
}

.wrapper .finalDescision .goBack:hover {
  background-color: rgb(70, 173, 176);
}

.wrapper .previous .prev .previousarrow{
  position: fixed;
  width: 15vw;
  height: auto;
  left: 5%;
  top: 80%;
  background-color: rgb(100, 196, 199);
  border: none;
}