body {
  display: flex;
  width: 100vw;
  height: 100vh;
  background-color: rgb(70, 173, 176);
  font-family: 'Courier New', Courier, monospace;
  overflow-x: hidden;
  overflow-x: hidden;
  margin:0 auto;
  font-family: "Chango", sans-serif;
}

.wrapper {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.wrapper .background-img {
  position: fixed;
  width: 100%;
  height: 100%;
}

.wrapper .food {
  text-align: center;
  font-family: "Chango", sans-serif;
  display: block;
  top: 45%;
  width: 40vw;
  height: 40vh;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  position: absolute;
  font-size: 3vw;
  border-color: white;
  border-style: solid;
  border-radius: 15px;
}

.wrapper .food .isHungry {
  position: absolute;
  width: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
  top: 25%;
}

.wrapper .food #hungryYes {
  position: absolute;
  right: 50%;
  top: 35%;
  margin: 30px;
  font-size: 1.5vw;
  font-family: "Chango", sans-serif;
  width: 5vw;
  height: 5vh;
  color: white;
  border: white;
  background-color: inherit;
}

.wrapper .food #hungryNo {
  position: absolute;
  left: 50%;
  top: 35%;
  margin: 30px;
  font-size: 1.5vw;
  font-family: "Chango", sans-serif;
  width: 5vw;
  height: 5vh;
  color: white;
  border: white;
  background-color: inherit;
}

.foodList {
  text-align: center;
  font-family: "Chango", sans-serif;
  display: none;
  top: 55%;
  width: 40vw;
  height: 40vh;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  position: absolute;
  font-size: 2vw;
}

.foodList .gback {
  position: absolute;
  font-size: 1vw;
  font-family: "Chango", sans-serif;
  text-align: center;
  width: 5vw;
  height: 5vh;
  left: 0%;
  color: white;
  border: white;
}

.fQuestion {
  position: absolute;
  text-align: center;
  color: white;
  width: 100%;
  bottom: 100%;
  padding: 1%;
}

.foodList .foodGenres {
  position: fixed;
  padding: 0;
  list-style-type: none;
  left: 50%;
  transform: translate(-50%, -50%);
  top: 40%;
}

.setting {
  text-align: center;
  font-family: "Chango", sans-serif;
  color: white;
  display: none;
  width: 40vw;
  height: 40vh;
  left: 50%;
  transform: translate(-50%, -50%);
  top: 45%;
  text-align: center;
  position: absolute;
  font-size: 3vw;
  border-color: white;
  border-style: solid;
  border-radius: 15px;
}

.setting .outOrIn {
  position: absolute;
  width: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
  top: 25%;
}

.setting #outside {
  position: absolute;
  right: 50%;
  top: 35%;
  margin: 1vw;
  font-size: 1.5vw;
  font-family: "Chango", sans-serif;
  width: 9vw;
  height: 5vh;
  color: white;
  border: white;
}

.setting #inside {
  position: absolute;
  left: 50%;
  top: 35%;
  margin: 1vw;
  font-size: 1.5vw;
  font-family: "Chango", sans-serif;
  width: 9vw;
  height: 5vh;
  color: white;
  border: white;
}

.setting .settingGoBack {
  position: absolute;
  right: 40%;
  top: 55%;
  margin: 1vw;
  font-size: 1vw;
  font-family: "Chango", sans-serif;
  width: 5vw;
  height: 5vh;
  color: white;
  border: white;
}

.outsideList {
  text-align: center;
  font-family: "Chango", sans-serif;
  display: none;
  top: 35%;
  width: 30vw;
  height: 10vh;
  color: white;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  position: absolute;
  font-size: 2vw;
}

.outsideList .explore-links {
  position: absolute;
  margin: 0;
  bottom: 50%;
}

.outsideList .ol {
  position: absolute;
  padding: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  list-style-type: none;
  overflow-y: auto; 
  font-size: 1.5vw;
  width: 25vw;
  height: 50vh;
  top: 300%;
  border-color: white;
  border-style: solid;
  border-radius: 15px;
}

.ol::-webkit-scrollbar {
  display: none;
}

.outsideList .outAct {
  position: absolute;
  text-align: center;
  width: 100%;
  bottom: 100%;
}

.outsideList .outGoBack {
  position: absolute;
  font-size: large;
  font-family: "Chango", sans-serif;
  width: 5vw;
  height: 5vh;
  font-size: 1vw;
  left: -10%;
  top: 20%;
  color: white;
  border: none;
}

.insideList {
  text-align: center;
  font-family: "Chango", sans-serif;
  display: none;
  top: 35%;
  width: 30vw;
  height: 10vh;
  color: white;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  position: absolute;
  font-size: 2vw;
}

.insideList .explore-links {
  position: absolute;
  margin: 0;
  bottom: 50%;
}

.insideList .inAct {
  position: absolute;
  text-align: center;
  width: 100%;
  bottom: 100%;
}

.insideList .inGoBack {
  position: absolute;
  font-size: large;
  font-family: "Chango", sans-serif;
  width: 5vw;
  height: 5vh;
  font-size: 1vw;
  left: -10%;
  top: 20%;
  color: white;
  border: none;
}

.insideList .il {
  position: absolute;
  padding: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  list-style-type: none;
  overflow-y: auto; 
  font-size: 1.5vw;
  width: 25vw;
  height: 50vh;
  top: 300%;
  border-color: white;
  border-style: solid;
  border-radius: 15px;
}

.il::-webkit-scrollbar {
  display: none;
}


.wrapper .previous {
  position: fixed;
  left: 5%;
  top: 80%;
}

.wrapper .previous .prev .previousArrow{
  position: fixed;
  width: 15vw;
  height: auto;
  left: 5%;
  top: 75%;
  background-color: rgb(70, 173, 176);
  border: none;
}

.wrapper .lower-screen {
  margin: auto;
  position: fixed;
  height: 7vh;
  width: 100%;
  bottom: 0;
  text-align: center;
  background-color: white;
}
.wrapper .lower-screen .hl {
  font-family: "Chango", sans-serif;
  font-size: 1vw;
  color: rgb(70, 173, 176);
}

.food #hungryYes:hover {
  background-color: rgb(100, 196, 199);
}

.food #hungryNo:hover {
  background-color: rgb(100, 196, 199);
}

button {
  background-color: inherit;
}

button:hover {
  background-color: rgb(100, 196, 199);
}

a:link {
  color: white;
  background: none;
}

a:visited {
  color: white;
  background: none;
}

a:hover {
  color: rgb(100, 196, 199);
  background: none;
}